a:link  {
    color: gold;
}
a:visited { color: rgb(139, 0, 0); 
}
a:hover { 
   color: rgb(6, 65, 14);
   background-color: rgba(221, 219, 101, 0.705);
   font-family: impact; 
}
a:active {
    color: navy ;
}
body {
    background-color: rgb(112, 219, 185);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
    text-align: center;
}
.color {
    color: darkred;
}
h1 {
    text-align: center; font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#columnas {
    column-count:2;
    column-gap:50px;
 }
ul { 
    list-style: none;
}
li {
    list-style: none;
}