body {
    background-color: rgb(112, 219, 185);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
    text-align: center;
}
.color {
    color: crimson;
}
h1 {
    text-align: center;
}